/*Tablet*/
body{
    display: flexbox;
}
#logo{
    display: inline;
    width: 70px;
    height: 70px;
}
#info{
    text-align: center;
}
 /*navbrar*/
 a{
    color:#FFFFFF; 
    text-decoration: none;
}
a:hover {
    color: #89CFF0;;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1D94F3; 
  }
  
  li {
    float: left;
  }
  
  li {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #1D94F3; 
    color: #FFFFFF;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:#89CFF0;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 65%;
    height: 400px;
  }
  aside{
    float: right;
    position: absolute;
    right: 0px;
    width: 30%;
    height: 440px;
    border: 3px solid #1D94F3;
    background-color: 	#89CFF0;
    margin-left: 100px;
    display: flex;
    color:#FFFFFF;
    text-align: center;
    line-height: normal;
    text-indent: normal;
    word-spacing: 2px;
    margin-top: 0px;
    top: 319px;
   }
   .product1{
       text-align: center;
       top: 0;
       left: 7px;
       position: absolute;
       width: 100%;
       display: inline-block;
       height: 33%;
       margin-top: 35px;
       height: 70px;
       width: 140px;}

    #h1{
        margin-top: 110px;
        margin-left: 10px;
        font-size: 15px;
        min-width: 100px;
        
    }
   
   .product2{
       
       text-align: center;
        margin-left: -120px;
        margin-bottom: 10px;
        margin-top: 175px;
        height: 70px;
        width: 140px;}
 

    #h2{
        margin-top: -10px;
        margin-left: -130px;
        font-size: 20px;
        min-width: 100px;
        font-size: 15px;
    
        }    
       
   .product3{
    
    text-align: center;
    margin-top: 310px;
    margin-left: -145px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 140px;}

    #h3{
        
        margin-top: -10px;
        font-size: 20px;
        min-width: 100px;
        max-width: 100px;
        margin-left: -120px;
        font-size: 15px;
        
    }
#cookie{
    position: fixed;
    float: right;
    bottom: 0px;
    right: 0px;
    background-color: #FA0;
    color:#FFFFFF;
    width: 130px;
    padding: 50px;
    opacity: 50%;
    text-align: center;
    z-index: 9999;
    height:17.5px;
    }
    .footer{
    background-color: #1D94F3;
    display: flex;
    bottom:0px;
    width:55.5%;
    height:100px;
    color:#FFFFFF;
    position: absolute;
    top:900px;
    left:0;
    height: 115.5px;
    }
@media screen and(min-width:481px) and (max-width:1179px) {
     
    #logo{
        display: inline;
        width: 30px;
        height: 30px;
    }
    
    
}