
 /* PC */

@media screen and (min-width: 1280px) {
    body{
        display: flexbox;
    }
    
   #asideheader{
       text-align: center;
       margin-top: 10px;
       right: 20px;
       display: flex;
       float: right;   
        
   }
   .assideparagraph{
       margin-top: 230px;
       margin-right: 0px;
       margin-left: -150px;
       
   }
    aside{
        float: right;
        position: absolute;
        right: 0px;
        width: 290px;
        height: 700px;
        border: 3px solid #1D94F3;
        background-color: 	#89CFF0;
        margin-left: 100px;
        display: flex;
        color:#FFFFFF;
        text-align: center;
        line-height: normal;
        text-indent: normal;
        word-spacing: 2px;
       }
    #info{
        color:#1D94F3; 
        text-decoration-color: #1D94F3; 
    }
    #logo{
        display: inline;
        width: 70px;
        height: 70px;
    }
    /*navbrar*/
    a{
        color:#FFFFFF; 
        text-decoration: none;
    }
    a:hover {
        color: #89CFF0;;
      }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #1D94F3; 
      }
      
      li {
        float: left;
      }
      
      li {
        display: block;
        color: #FFFFFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
     

    #video{
             width: 100%;
            height: 1000px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            height: auto;
            
        }
    .bali{
        float: left;
    }

    #header{
        text-align:left;
        display: inline-block;
        margin: 0 15px 0 0;
        font-size: x-large;   
    }
    .baliparagraph{
        letter-spacing: 0.5px;
        line-height: normal;
        text-indent: normal;
        word-spacing: 2px;
        text-align:left;
        display: inline-block;  
       margin: 0 15px 0 0;
       text-align: justify;
       max-width: 500px;   
    }
    #BaliPic{
        
        object-position: right bottom;
        margin-right: auto;
        width: 400px;
        height: 200px; 
    }

    .picturewithtext{
        float: right;
        vertical-align: top;
        text-align: center;
        width: 120px;
    }
    .caption {
        
        text-align: justify;
        margin-left:0px;
        font-size: small;
        font-family:'Times New Roman', Times, serif;
    }
    #figcaption{
        float: right;
        width: 100px;
        height: 100px; 
        display: block;
        margin: 0 auto;
        
    }

    .maldives{
        float: left;
    }
   
    .maldivesparagraph{
        letter-spacing: 0.5px;
        line-height: normal;
        text-indent: normal;
        word-spacing: 2px;
        text-align:left;
        display: inline-block;  
       margin: 0 15px 0 0;
       max-width: 500px;
       text-align: justify;
       
    }
    
        #MaldivesPic{
        object-position: right bottom;
        margin-right: auto;
        width: 400px;
        height: 200px; 
        
        }
        .dubai{
            float: left;
        }
        .dubaiparagraph{
        letter-spacing: 0.5px;
        line-height: normal;
        text-indent: normal;
        word-spacing: 2px;
        display: inline-block;  
        margin: 0 15px 0 0;
        text-align: justify;
        max-width: 500px;  
        }
        #DubaiPic{
        object-position: right bottom;
        margin-right: auto;
        width: 400px;
        height: 200px; 
        }
        #cookie{
        position: fixed;
        float: right;
        bottom: 50px;
        right: 0px;
        background-color: #FA0;
        color:#FFFFFF;
        width: 198px;
        padding: 50px;
        opacity: 50%;
        text-align: center;
        z-index: 3;
        }
        .footer{
        background-color: #1D94F3;
        display: flex;
        bottom:0px;
        width:100%;
        height:30px;
        color:#FFFFFF;
        }
             
    }
    

    