/*phone*/

@media screen and (max-width: 480px) {
   
    #logo{
        display: inline;
        width: 70px;
        height: 70px;
    }
    #video{
        display: none;
    }
    body{
        display: flexbox;
    }
    aside{
        position: absolute;
        width:100%;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid #1D94F3;
        background-color: 	#89CFF0;
        color:#FFFFFF;
        padding: 5px;
        text-align: center;
        top: 260px;
        margin: 0;
        padding: 0;
        
       }
    }
