/*tablet*/
#logo{
    display: inline;
    width: 30px;
    height: 30px;}

     /*navbrar*/
     a{
        color:#FFFFFF; 
        text-decoration: none;
    }
    a:hover {
        color: #89CFF0;;
      }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #1D94F3; 
      }
      
      li {
        float: left;
      }
      
      li {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      #ticketarticle{
        text-align: center;
        margin-top: 10px;
        font-family:'Times New Roman', Times, serif;
        letter-spacing: 0.5px;
        line-height: normal;
        text-indent: normal;
        word-spacing: 0px;
      }
      .table{
        border: 3px solid #6495ed;
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
      }
      td, th {
        border: 1px solid #6495ed;
        text-align: center;
      }
      th{
          color:#6495ed;
      }
      .grid{
        width: 100%;
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
      aside{
        border: 3px solid #1D94F3;
        background-color: 	#89CFF0;
        color:#FFFFFF;
        width: 100%;
       }
    img{
        width: 100%;
        height: 300px;
    }
    #cookie{
        position: fixed;
        float: right;
        bottom: 6px;
        right: 0px;
        background-color: #FA0;
        color:#FFFFFF;
        width: 100px;
        height: 20px;
        padding: 50px;
        opacity: 50%;
        text-align: center;
        z-index: 9999;
        }
        .footer{
            background-color: #1D94F3;
            display: flex;
            bottom:0px;
            width:100%;
            height:118px;
            color:#FFFFFF;
            }
    
@media screen and(min-width:481px) and (max-width:1179px) {
     
    #logo{
        display: inline;
        width: 30px;
        height: 30px;
    }
    
}