 /* PC */

 .heading{
    color: blue;
}
 @media screen and (min-width: 1280px) {
    body{
        display: flexbox;
        
    }
    #logo{
        display: inline;
        width: 70px;
        height: 70px;
    }
    /*navbrar*/
    a{
        color:#FFFFFF; 
        text-decoration: none;
    }
    a:hover {
        color: #89CFF0;;
      }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #1D94F3; 
      }
      
      li {
        float: left;
      }
      
      li {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      #ticketarticle{
        text-align: center;
        margin-top: 10px;
        font-family:'Times New Roman', Times, serif;
        letter-spacing: 0.5px;
        line-height: normal;
        text-indent: normal;
        word-spacing: 0px;
      }
      .table{
        border: 3px solid #6495ed;
        width: 70%;
        border-collapse: collapse;
        margin-top: 10px;
      }
      td, th {
        border: 1px solid #6495ed;
        text-align: center;
      }
      th{
          color:#6495ed;
      }
     
      aside{
        float: right;
        position: absolute;
        right: 0px;
        width: 30%;
        height: 440px;
        border: 3px solid #1D94F3;
        background-color: 	#89CFF0;
        margin-left: 100px;
        display: flex;
        color:#FFFFFF;
        text-align: center;
        line-height: normal;
        text-indent: normal;
        word-spacing: 2px;
        margin-top: 0px;
        top: 293px;
       }
       .product1{
           text-align: center;
           top: 0;
           left: 7px;
           position: absolute;
           width: 100%;
           display: inline-block;
           height: 33%;
           margin-top: 35px;
           height: 100px;
           width: 170px;}

        #h1{
            margin-top: 40px;
            margin-left: 190px;
            font-size: 20px;
            min-width: 100px;
        }
       
       .product2{
           
           text-align: center;
            margin-left: -190px;
            margin-bottom: 10px;
            margin-top: 175px;
            height: 100px;
            width: 170px;}

        #h2{
            margin-top: -80px;
            margin-left: -570px;
            font-size: 20px;
            min-width: 100px;
            
            
            }    
           
       .product3{
        
        text-align: center;
        margin-top: 310px;
        margin-left: -560px;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 100px;
        width: 170px;
        display: inline-block;
    }
        #h3{
            
            margin-top: -110px;
            font-size: 20px;
            min-width: 100px;
            max-width: 100px;
            margin-left: -145px;
        }
        #cookie{
          position: fixed;
          float: right;
          bottom: 0px;
          right: 0px;
          background-color: #FA0;
          color:#FFFFFF;
          width: 198px;
          padding: 50px;
          opacity: 50%;
          text-align: center;
          z-index: 9999;
          }
          .footer{
          background-color: #1D94F3;
          display: flex;
          bottom:0px;
          width:76.5%;
          height:30px;
          color:#FFFFFF;
          position: absolute;
          top:900px;
          left:0;
          height: 115.5px;
          
              }
    }
   